<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescricoes</title>

    <button id="btnBuscaUser">
        busca prescricoes
    </button>
</head>
<body>
    <script>
        var data = {{data.precricoes | tojson}};
        console.log(data)
        var paragrafo = data.map(function(precricoes){
            return '<p>' + precricoes.codconsulta ,precricoes.medicamento, precricoes.dosagem, precricoes.frequencia, precricoes.datainicio, precricoes.datafim + '</p>'
        })

        document.body.innerHTML += paragrafo.join('');
        console.table(data)
    </script>
</body>
</html>