<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>

    <button id="btnBuscaUser">
        busca user
    </button>
</head>
<body>
    <script>
        var data = {{data.usuarios | tojson}};
        console.log(data)
        var paragrafo = data.map(function(usuarios){
            return '<p>' + usuarios.nome, usuarios.email, usuarios.senha, usuarios.papel + '</p>'
        })

        document.body.innerHTML += paragrafo.join('');
        console.table(data)

        //function getUser(){
        //   fetch('url/usuarios', {
        //        method: 'GET'
        //    })
        //  }

        //document.getElementById('btnBuscaUser', addEventListener('click', getUser()))
    </script>
</body>
</html>